html {
	margin: 0;
	padding: 0;
}

body {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;margin: 0;
	padding: 0;
}

/* A: Add the canvas and load the cursor image */
.canvas {
	width: 50%;
	height: 500px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cursor:before {
	content: "";
	background-image: url(../images/cursor.png);
}

/* B: Remove the default cursor and display the new one */
body.no-cursor {
	cursor: none;
}

.cursor.active {
	position: absolute;
	width: 64px;
	height: 64px;
	margin-top: -5px;
	margin-left: -32px;
	background-image: url(../images/cursor.png);
	background-color: transparent;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	/* C: Mouse down action */
	transform-origin: 50% 0%;
	transition: transform .1s ease;
}